version: "3.7"

services:
  nginx:
    image: mtulaimat/uae-praying-times:front-latest
    ports:
      - "80:80"
    networks:
      - app

  node:
    image: mtulaimat/uae-praying-times:back-latest
    ports:
      - "8090:8090"
    networks:
      - app

networks:
  app:
    driver: bridge